.container {
  max-width: 500px;
  color: rgba(0, 0, 0, 0.75);
  text-align: center;
  padding: 20px;
}

.App {
  padding: 20px;
}


.App .city-country {
  font-size: medium;

  font-family: 'Montserrat', sans-serif;
}

.App img {
  padding-top: 100px;
}

.App .current-icon-description {
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

.App .current-condition {
  padding-top: 20px;
}

.App .current-temp {
  font-size: 70px;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}