.container {
  max-width: 500px;
  color: rgba(0, 0, 0, 0.75);
  text-align: center;
  padding: 20px;
}

.App {
  padding: 20px;

}

.App img {
  padding-top: 100px;
}

.App .current-icon-description {
  text-transform: uppercase;
  font-size: 30px;

  padding: 10px;
}

.App .city-country {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.8;

}

.App .current-temp {
  font-size: 70px;
  padding: 10px 0 20px;
  font-family: 'Montserrat', sans-serif;
}

.App .current-condition {
  padding-top: 20px;
}

footer p {
  padding-top: 5px;
  margin: 2px;
  font-size: 13px;
}