.WeatherForecast {
  padding: 20px 18px 15px;
  color: #454348;

}


.WeatherForecast .col {
  padding: 0 2px;
}

.forecast-day {
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: 'Cabin', sans-serif;
  padding: 8px;
}

.forecast-temperature {
  font-size: 14px;
  padding: 8px;
}

.forecast-temp-max {
  font-weight: bold;
}

.forecast-temp-min {
  opacity: 0.8;
}

@media(max-width:400px) {

  .forecast-temperature,
  .forecast-day {
    font-size: 12px;
    padding: 4px;
  }

  .ForecastDaily svg {
    max-height: 25px;
    max-width: 25px;
  }

}