.Current {
  padding: 20px;
}

.Weather img {
  padding-top: 50px;
  max-width: 70px;
}

.Weather .current-icon-description {
  text-transform: uppercase;
  font-size: 23px;
  padding: 10px;
  letter-spacing: 5px;
  font-weight: 700;
  font-family: 'Cabin', sans-serif;
}

.Weather .city-country {
  font-size: 17px;
  font-weight: 700;
  color: #878787;
  letter-spacing: 4px;
  font-family: 'Montserrat', sans-serif;
}

.Weather .current-temp {
  font-size: 70px;
  padding: 10px 0 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.Weather .current-condition {
  padding-top: 20px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.9;
}